html{
    background-color: black;
    font-size: 32px;
    font-family: 'Honk', system-ui;
}
body{
    background-color: gold;
    padding: 80px 80px 80px 80px;
    border : 30px solid orange;
    margin: 30px 30px 30px 30px;
}
h1{
    font-size: 90px;
    text-align: center; 
    background-color: blue;
    color:yellow;
    text-shadow: 10px 10px 5px black;
}
h2{
    color:darkblue;
    font-size: 80px;
}
img {
  max-width:100%;
  margin: 0 auto;
  display: block;
}

strong{
    color:black;
    font:bold;
}